.top-header {
    width: 100%;
    background-color: #1E2926;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;

    >.row {
        height: 100%;
        justify-content: space-between;
        padding: 0 30px;

        >figure {
            display: flex;
            align-items: center;
        }

        >nav {
            >.row {
                height: 100%;

                >ul {
                    display: flex;

                    >li {
                        margin: 0 5px;
                        display: flex;
                        align-items: center;

                        >.act {
                            border-bottom: 3px solid white;
                        }

                        >a {

                            text-transform: uppercase;
                            color: white;
                            font-size: 18px;
                            padding: 5px 10px;
                            position: relative;

                            &:not(.act):hover::after {
                                width: 100%;
                                left: 0;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                width: 0;
                                height: 3px;
                                background-color: white;
                                transition: 1s;

                            }
                        }
                    }
                }

                >i {
                    display: flex;
                    align-items: center;
                    margin-left: 7px;
                }
            }
        }
    }
}

.main-header {
    width: 100%;
    height: 90vh;
    margin-top: 12vh;

    background-color: #1E2926;

    >.row {
        height: 100%;

        * {
            width: 50%;
        }

        >article {
            background-image: url(../img/bg.svg);

            >.row {
                height: 100%;
                width: 100%;
                place-content: center;
                padding: 0 100px;

                * {
                    text-align: center;
                    color: white;
                    width: 100%;
                }

                >h1 {
                    font-size: 50px;
                    text-transform: capitalize;
                }

                >p {
                    font-size: 20px;
                    margin: 40px 0;
                }

                >a {
                    font-size: 20px;
                    width: 40%;
                    height: 75px;
                    padding: 0 20px;
                    border: 1px solid white;
                    border-radius: 30px;
                    overflow: hidden;
                    transition: 1s;

                    >span {
                        width: 100%;
                        height: 75px;
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        transition: 1s;

                        &:last-of-type {
                            opacity: 0;
                        }
                    }

                    &:hover {
                        background-color: #5c5f3f;

                        >span {
                            &:nth-of-type(1) {
                                margin-top: -75px;
                                opacity: 0;
                            }

                            &:nth-of-type(2) {

                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        >figure {
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}

.product {

    width: 100%;
    padding: 30px;
    background-color: #1E2926;

    >.row {
        margin-top: 50px;

        &:hover {
            >div:nth-of-type(2) {
                transform: translateY(-25px);
            }

            >div:nth-of-type(odd) {
                transform: translateY(25px);
            }
        }

        >div {
            transition: 1s;
            width: 33.3333%;

            &:nth-of-type(2) {
                background-color: #975f44;
            }

            &:nth-of-type(3) {
                background-color: rgb(175, 35, 35);

            }

            >.row {

                align-items: center;
                justify-content: center;
                padding: 60px;

                >* {

                    color: white;
                    text-align: center;
                }

                >h2 {
                    text-transform: capitalize;
                    font-size: 30px;
                }

                >figure {
                    >img {
                        width: 100%;
                        height: 280px;
                        margin: 15px 0;
                        object-fit: cover;
                        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);


                    }

                    >figcaption {
                        line-height: 32px;
                        font-size: 20px;
                    }
                }

                >a {
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: bolder;
                    border-radius: 42px;
                    border: 1px solid white;
                    width: 80%;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.e-pro {
    width: 100%;
    padding: 30px;

    background-color: #1E2926;

    >.row {
        justify-content: space-between;

        >div {
            width: 200px;

            >* {
                color: white;
                text-align: center;
            }

            >i {
                font-size: 35px;

                display: flex;
                justify-content: center;
                margin: 10px 0;
            }

            >p {
                font-size: 20px;
                line-height: 20px;

            }
        }
    }
}

.e-slid {
    width: 100%;
    background-color: #1E2926;
    padding: 30px;

    >.row {
        justify-content: space-evenly;

        >figure {
            margin: 10px 0;
            width: 330px;
            transition: 1s;
            height: 250px;
            position: relative;

            &:hover {
                transform: rotate(-10deg);
            }

            >* {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

            }

            >.d-d {
                background-color: rgba(0, 0, 0, 0.5);
            }

            >img {
                object-fit: cover;
            }

            >figcaption {
                font-size: 28px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;

            }
        }
    }
}

.e-art {
    padding: 90px 25px;
    width: 100%;

    >.row {
        >div {
            width: 50%;

            &:first-of-type {
                >.row {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    align-items: center;

                    * {
                        color: #1E2926;
                        width: 100%;
                        text-align: center;
                    }

                    >h2 {
                        font-size: 60px;
                    }

                    >p {
                        font-size: 20px;
                        margin: 20px 0;
                        line-height: 30px;

                    }

                    >a {
                        font-size: 20px;
                        border: 2px solid rgba(0, 0, 0, 0.281);
                        border-radius: 25px;
                        width: 30%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }

            }

            &:last-of-type {
                >.row {
                    justify-content: center;

                    >img {
                        width: 40%;

                        &:first-of-type {
                            position: relative;
                            z-index: 11;
                            transform: rotate(-5deg) translateX(30px);
                        }

                        &:last-of-type {
                            transform: rotate(5deg) translateX(-30px);
                        }
                    }
                }
            }
        }

    }
}

.footer {
    width: 100%;
    padding: 30px;
    background-color: #1E2926;

    >.row {
        >div {
            width: 50%;
            min-height: 50px;

            &:first-of-type {
                >div {
                    margin: 20px 15px;

                    >ul {
                        width: 50%;

                        >li {
                            color: white;
                            font-size: 27px;
                            line-height: 45px;
                        }
                    }
                }

                >ul {
                    >li {
                        margin-left: 20px;
                        font-size: 30px;
                    }
                }
            }

            &:last-of-type {
                >.row {
                    >* {
                        color: white;
                        text-align: center;
                        padding: 10px;

                    }

                    >h3 {
                        font-size: 35px;
                    }

                    >form {
                        width: 100%;
                        height: 65px;
                        margin-top: 20px;

                        >input {
                            width: 70%;
                            background-color: transparent;

                            &::placeholder {
                                color: white;
                            }
                        }

                        >button {
                            width: 30%;
                            background-color: #5c5f3f;
                            border: none;
                            outline: none;
                        }
                    }

                    >p {
                        margin-top: 20px;
                        font-size: 20px;
                    }

                }
            }
        }
    }
}